/* @import "./node_modules/nes.css/css/nes.css"; */

body {
  margin: 0;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}
